@model Apartment_Web.Models.ViewModel.ApartmentNumberDeleteViewModel

<form asp-action="DeleteApartmentNumber">
    <br />
    <div class="container border p-3">
        <h1 class="text-white-50">Delete Apartment</h1>
        <hr />
        <input hidden asp-for="ApartmentNumber.ApartmentNo" />
        <div class="row">

            <div class="col-2">
                <label asp-for="ApartmentNumber.ApartmentNo" class="control-label pt-2" style="font-size:20px;"></label>
            </div>
            <div class="col-10 pb-3">
                <input asp-for="ApartmentNumber.ApartmentNo" disabled class="form-control" />
            </div>



            <div class="col-2">
                <label asp-for="ApartmentNumber.ApartmentID" class="control-label pt-2" style="font-size:20px;"></label>
            </div>
            <div class="col-10 pb-3">
                <select asp-for="ApartmentNumber.ApartmentID" disabled class="form-select" asp-items="@Model.ApartmentList">
                    <option disabled selected>Select Apartment</option>
                </select>
            </div>

            <div class="col-2">
                <label asp-for="ApartmentNumber.SpecialProperties" class="control-label pt-2" style="font-size:20px;"></label>
            </div>
            <div class="col-10 pb-3">
                <textarea asp-for="ApartmentNumber.SpecialProperties" readonly class="form-control" rows="5"></textarea>
            </div>

            <div class="col-5 offset-2">
                <a asp-action="IndexApartmentNumber" asp-controller="ApartmentNumber" class="btn-primary btn form-control">Back to List</a>
            </div>
            <div class="col-5">
                <input type="submit" value="Delete" class="btn btn-success form-control" />
            </div>
        </div>
    </div>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}