@model IEnumerable<Apartment_Web.Models.DTO.ApartmentNumberDTO>
<br />
<div class="container p-7 border">
    <div class="row pb-2">
        <div class="col-2">
            <h1 class="text-primary">Apartment Number List</h1>
        </div>
        <div class="col text-end pt-1">
            <a asp-controller="ApartmentNumber" asp-action="CreateApartmentNumber" class="btn btn-outline-primary"> <i class="bi bi-plus-square-fill"></i> Create new Apartment Number</a>
        </div>
    </div>

    <table class="table">
        <thead>
            <tr>
                <th>
                    ApartmentName
                </th>
                <th>
                    ApartmentNumber
                </th>          
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.Apartment.Name</td>
                    <td>@item.ApartmentNo</td>
                    <td>
                        <a asp-controller="Apartment" asp-action="UpdateApartmentNumber" asp-route-apartmentNo="@item.ApartmentNo" class="btn btn-success"><i class="bi bi-pencil-square"></i> Update</a>
                        <a asp-controller="Apartment" asp-action="DeleteApartmentNumber" asp-route-apartmentNo="@item.ApartmentNo" class="btn btn-danger"><i class="bi bi-file-x-fill"></i> Delete</a>

                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>